<nav class="navbar fixed-top navbar-light">
  <h3 class="heading">Web Phishing Detection</h3>
  <button class="js-menu-show header__menu-toggle material-icons">menu</button>

  <aside class="js-side-nav side-nav">
    <nav class="js-side-nav-container side-nav__container">
      <button class="js-menu-hide side-nav__hide material-icons">close</button>
      <header class="side-nav__header">Side Nav</header>
      <ul class="side-nav__content">
        <li>One</li>
        <li>Two</li>
        <li>Three</li>
        <li>Four</li>
      </ul>
    </nav>
  </aside>
</nav>
{% block navbar %} {% endblock %}
<script src="../static/js/navbar.js"></script>
